@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* * Css переменные* */
:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}
.none {
  display: none !important;
}
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
/* slider */
.container-right {
  /* padding-left: calc((100% - 1270px) / 2 + 15px); */
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

/* * Header * */

.header {
  overflow: hidden;
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
    #204434;
  color: #ffffff;
}
.header a {
  color: #ffffff;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(../img/header/header-bottom.svg);
  /*   */
}

.header__top {
  /* padding: 0 100px; */
  margin-bottom: 86px;
}

/* Logo */

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
}
.nav__list {
  display: flex;
  column-gap: 80px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 10px;
  bottom: -6px;
  /* width: 35px; */
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 100px;
}

.nav__login {
  display: flex;
  column-gap: 25px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

/* * Button * */

.btn {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  padding: 13px 44px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 100px;
}
.btn:hover {
  color: rgb(245, 233, 147);
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}
.btn:active {
  position: relative;
  top: 1px;
}
/* * Header content* */

.header__row {
  display: flex;
}
.header__img {
  flex-grow: 1;
  position: relative;
}
.header__img img {
  position: absolute;
  top: -181px;
  right: -87px;
  max-width: unset;
  width: 894px;
  height: 940px;
}

.header__content {
  position: relative;
  z-index: 1;
  max-width: 592px;
  /* padding-left: 100px; */
}
.header__badge {
  display: inline-block;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 7px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}
.header-title {
  /* font-family: 'Poppins'; */
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 30px;
}
.header__text {
  /* font-family: 'Poppins'; */
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.header__btn {
  display: inline-block;
  padding: 27px 48px;
  border-radius: 27px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  font-weight: 600;
  font-size: 25px;
}
.header__btn:hover {
  color: rgb(245, 233, 147);
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}
.header__btn:active {
  position: relative;
  top: 1px;
}

/* * Section Destinations * */

.destinations {
  overflow-x: hidden;
  padding: 96px 0 100px;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}
.destinations__content {
  max-width: 456px;
}
.destinations__title {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 15px;
}
.destinations__title span {
  font-size: 30px;
}
.destinations__text {
  font-weight: 500;
  font-size: 25px;
  color: var(--secondary);
  margin-bottom: 60px;
}
.destinations__text p {
}

.destinations__btn {
  display: inline-block;
  color: #fff;
  padding: 25px 45px;
  border-radius: 27px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  font-weight: 600;
  font-size: 20px;
}
.destinations__btn:hover {
  color: rgb(245, 233, 147);
  transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
}
.destinations__btn:active {
  position: relative;
  top: 1px;
}

/* * Slider* */

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.slider {
}
.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
}
/* активная картинка */
.slider .center .slider__item {
  margin-top: 0px;

  width: 380px;
  height: 456px;
}
